### Twitter Data Analysis

Analyze the type of tweets: word counts. Can include sentiment also?
Words used by customer : word counts
sentiments asociated with tweet: sentiment analysis.can be looked during festival season and other times
evolution of tweet over quarters: How customer tweets have evolved over time. Word count over time, sentiment over time
How people are reacting to amazon great indian festivals? Sentiment and word count during festivaland other times. tweet similarity?

Can we do before covid, during covid analysis?

Final analysis:
1 Word count
2 Tokenization/Lemmetisation
3 N-grams
4sentiment analysis

In [64]:
import os
from fnmatch import fnmatch
import pandas as pd
import numpy as np
import nltk
import seaborn
import spacy
import glob
import string
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import datetime
import re

In [16]:
filename=[]
root = '../data/'
pattern = "*.csv"

for path, subdirs, files in os.walk(root):
    for name in files:
        if fnmatch(name, pattern):
            filename.append(os.path.join(path, name))

In [56]:
data = pd.concat( [ pd.read_csv(file) for file in filename ] )
data.reset_index(inplace=True)

In [57]:
data.head()

,index,date,tweet,word
0,0,2019-01-20 23:04:24+00:00,Logitech Prodigy G213 Gaming Keyboard [50% dis...,amazonindia
1,1,2019-01-20 22:47:26+00:00,Can you guys (whoever's reading this) dm @/Ama...,amazonindia
2,2,2019-01-20 22:04:27+00:00,Artis E400M in-Ear Headphones with Mic (Black)...,amazonindia
3,3,2019-01-20 21:24:51+00:00,@JeffBezos called Amazon India to report an in...,amazonindia
4,4,2019-01-20 21:04:30+00:00,TP-Link HA100 NFC-Enabled Bluetooth Music Rece...,amazonindia

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45144 entries, 0 to 45143
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   45144 non-null  int64
 1   date    45144 non-null  object
 2   tweet   45143 non-null  object
 3   word    45144 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.4+ MB

In [59]:
data['Date'] = [datetime.datetime.fromisoformat(x).date() for x in data['date']]
data.drop(['date','index'],axis=1,inplace=True)

In [60]:
data.head()

                                               tweet         word        Date
0  Logitech Prodigy G213 Gaming Keyboard [50% dis...  amazonindia  2019-01-20
1  Can you guys (whoever's reading this) dm @/Ama...  amazonindia  2019-01-20
2  Artis E400M in-Ear Headphones with Mic (Black)...  amazonindia  2019-01-20
3  @JeffBezos called Amazon India to report an in...  amazonindia  2019-01-20
4  TP-Link HA100 NFC-Enabled Bluetooth Music Rece...  amazonindia  2019-01-20

In [103]:
# print (re.findall(r'(?<=\W)[#@]\S*', data['tweet']))

In [100]:
data['mentions']=None
for i in range(data.shape[0]):
    try:
        data['mentions'][i] = re.findall(r'(?<=\W)[#@]\S*', data['tweet'][i])
        
    except TypeError:
        pass

In [104]:
data

,tweet,word,Date,mentions
0,Logitech Prodigy G213 Gaming Keyboard [50% dis...,amazonindia,2019-01-20,"[#AmazonIndia, #DealsOnPC]"
1,Can you guys (whoever's reading this) dm @/Ama...,amazonindia,2019-01-20,[@/AmazonHelp]
2,Artis E400M in-Ear Headphones with Mic (Black)...,amazonindia,2019-01-20,"[#AmazonIndia, #DealsOnElectronics]"
3,@JeffBezos called Amazon India to report an in...,amazonindia,2019-01-20,[@AmazonHelp]
4,TP-Link HA100 NFC-Enabled Bluetooth Music Rece...,amazonindia,2019-01-20,"[#AmazonIndia, #DealsOnPC]"
...,...,...,...,...
45139,Murder. Corruption. Romance. Movie stars. A mo...,amazonindia,2019-12-27,"[@SarahMallery1, #ASMSG, #amazonindia]"
45140,Iball Cr24 Card Reader With 24 Types Of Memory...,amazonindia,2019-12-27,"[#AmazonIndia, #DealsOnPC]"
45141,Murder is on the itinerary! ★MURDER OVER MIAMI...,amazonindia,2019-12-27,"[#ASMSG, #amazonindia]"
45142,AmazonBasics 9 Volt Everyday Alkaline Batterie...,amazonindia,2019-12-27,"[#AmazonIndia, #DealsOnElectronics]"
45143,"Bose Soundsport Wireless Headphone, Citron [20...",amazonindia,2019-12-27,"[#AmazonIndia, #DealsOnElectronics]"

['#onlineshopping', '#Marketing', '#ecommerce']